<div class="container">
    <h3>Manage Users</h3>
    <button class="btn btn-success mb-2" (click)="addUser()">Add</button>
    <table class="table table-bordered">
      <thead>
        <tr><th>Name</th><th>Email</th><th>Actions</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="editUser(user)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  